body {
	background-image: url(graph.png);
	background-repeat: repeat;
	font-size: 14px;
	line-height: 20px;
}

#shadow {
	position: fixed;
	top: 0;
	left: 400px;
	right: 0;
	bottom: 0;
	   -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 150px inset;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 150px inset;
	        box-shadow: rgba(0, 0, 0, 0.2) 0 0 150px inset;
	padding: 0 10px;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 390px;
	height: 100%;
	background-image: url(graph-bl.png);
	background-repeat: repeat;
	color: #d0d0d0;
	padding: 0 0 0 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

#sidebar a:hover {
	color: #fff;
}

#logo { 
	color: #707070;
	font-size: 2em;
	line-height: 40px;
	font-weight: 500;
}

#project {
	font-size: 1.4em;
	font-weight: 700;
	color: #c0c0c0;
}

.block {
	 -moz-border-radius: 1em 0 1em 0;
          border-radius: 1em 0 1em 0;
  -webkit-border-radius: 1em 0 1em 0;
  background: #606060;
  color: #b0b0b0;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
}

.block:hover {
	background: #b0b0b0;
    color: #606060;
}

.hasrun {
	background: #5d1f1f;
	color: #c0a0a0;
}

.hasrun:hover {
	color: #5d1f1f;
	background: #c0a0a0;
}

.sel {
	background: #909090;
    color: #404040;
}

.selrun {
	color: #3d0000;
	background: #a08080;
}

.selrun:hover{
	color: #5d1f1f;
	background: #c0a0a0;
}

#addlayer {
	 -moz-border-radius: 0 0 0 1em;
          border-radius: 0 0 0 1em;
  -webkit-border-radius: 0 0 0 1em;
	color: #a0a0c0;
	background: #1f3f5d;
	border-bottom: solid 1px #555;
}

#addlayer:hover {
	background: #a0a0c0;
	color: #1f3f5d;
}

#showhelp {
	 -moz-border-radius: 1em 0 0 0;
          border-radius: 1em 0 0 0;
  -webkit-border-radius: 1em 0 0 0;
	color: #404040;
	background: #d3cccc;
	border: solid 1px #555;
}

#showhelp:hover {
	background: #fff;
}

#datasources {
	 -moz-border-radius: 0 1em 0 0;
          border-radius: 0 1em 0 0;
  -webkit-border-radius: 0 1em 0 0;
	color: #a0c0a0;
	background: #1f5d2e;
	border-bottom: solid 1px #555;
}

#datasources:hover {
	background: #a0c0a0;
	color: #1f5d2e;
}

table {
	width: 100%;
}

td {
	padding: 10px 10px 10px 0;
}

.stext {
	background: none;
	border: none;
	margin: none;
	padding: none;
	padding-top: 2px;
	height: 20px;
	resize: none;
}

#fntitle {
	font-size: 3em;
	line-height: 40px;
	font-weight: 900;
	width: 10em;
	height: 50px;
}

#fnname {
	width: 10em;
}

#fnrow {
	font-weight: 700;
	width: 0.7em;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

#editbox {
	width: 100%;
	height: 200px;
}

#results {margin: 10px; padding: 10px;}

#rsbox {
	padding-top: 10px;
	padding-left: 10px;
	color:#5d1f1f;
}

#rstitle {
	font-size: 2em;
	line-height: 20px;
	margin-left: 10px;
	font-weight: 700;
}

#results {height: 300px;}

#runbtn { 
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 3em;
	color: #5d1f1f;
	font-weight: 900;
}